# The IP address the notebook server will listen on.
c.NotebookApp.ip = '0.0.0.0'

# Prevent the browser from launching
c.NotebookApp.open_browser = False

## The port the notebook server will listen on.
c.NotebookApp.port = 8888

#  The string should be of the form type:salt:hashed-password.
c.NotebookApp.password = 'sha1:bd0313a5f655:005ad012c1019c0f582adbbae433f2ba052f79ef'
