[core]
executor = LocalExecutor
sql_alchemy_conn = postgresql+psycopg2://airflow:{{ airflow_db_user_password }}@127.0.0.1/airflow

sql_alchemy_pool_size = 10
sql_alchemy_pool_recycle = 3600

load_examples = False
dags_are_paused_at_creation = True
catchup_by_default = False
dags_folder = /home/airflow/airflow_home/dags

[webserver]
endpoint_url = http://{{ ansible_default_ipv4.address }}:{{ airflow_port }}
base_url = http://{{ ansible_default_ipv4.address }}:{{ airflow_port }}

{% if airflow_email_from %}
[email]
email_backend = airflow.utils.email.send_email_smtp

[smtp]
smtp_host = localhost
smtp_starttls = False
smtp_port = 25
smtp_mail_from = {{ airflow_email_from }}
{% endif %}
