[core]
executor = LocalExecutor
sql_alchemy_conn = postgresql+psycopg2://hdl:hdl@127.0.0.1/airflow

sql_alchemy_pool_size = 10
sql_alchemy_pool_recycle = 3600

load_examples = False
dags_are_paused_at_creation = True

[webserver]
endpoint_url = http://localhost:8080
base_url = http://localhost:8080
catchup_by_default = False

[email]
email_backend = hdl.airflow.sendgrid.send_email
