[Unit]
Description=Airflow scheduler daemon
After=network.target

[Service]
EnvironmentFile=/home/airflow/airflow-environment
User=airflow
Group=airflow
Type=simple
{% if ansible_distribution == 'Ubuntu' %}
ExecStart=/bin/bash -c 'source /home/airflow/pyenv/bin/activate; airflow webserver -p 9999'
{% elif ansible_distribution == 'CentOS' %}
ExecStart=/bin/bash -c 'scl enable rh-python36 'source /home/airflow/pyenv/bin/activate; airflow webserver -p 9999'"
{% endif %}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
