[Unit]
Description=Airflow webserver daemon
After=network.target

[Service]
User=airflow
Group=airflow
Type=simple
ExecStart=/bin/bash -ilc 'conda activate o3 && airflow webserver -w 2 -p {{ airflow_port }}'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
