*.pyc
*.orig
*.rej
*~
.DS_Store
.idea/

venv/

.vagrant/
scratchpad.py
NOTES.rst
sftp-config.json
.sublime-workspace
*.retry
*.tgz
*.tar.gz
*.gz

.vault-pass

airflow.cfg
airflow.db
airflow-webserver.pid
