*.pyc
*.orig
*.rej
*~
.DS_Store
.idea/

venv/
pyenv/

.vagrant/
scratchpad.py
NOTES.rst
sftp-config.json
.sublime-workspace
*.retry
*.tgz
*.tar.gz
*.gz
ci-*

.vault-pass

*.egg-info/
logs/
resources/*
samples/
pgdata/*
prod-dags/
airflow_home/*
!airflow_home/dags/o3
!airflow_home/dags/prod
