[Unit]
Description=Hive Metastore Server
After=network.target

[Service]
User=hadoop
Group=hadoop
Type=simple
ExecStart=/bin/bash -il -c 'hive --service metastore'
RestartSec=5s

[Install]
WantedBy=multi-user.target
