---
- name: ensure jupyter user exists
  user:
    name: jupyter
    comment: "Jupyter notebook user"
    shell: /bin/bash
  tags: jupyter

- name: ensure jupyter user has authorized_keys set
  authorized_key:
    user: jupyter
    key: "{{ lookup('file', 'public_keys/' + item + '_id_rsa.pub') }}"
  with_items: "{{ ['hadoop'] + jupyter_admins }}"
  tags: jupyter

- name: ensure better bash history for jupyter user
  blockinfile:
    dest: /home/jupyter/.bashrc
    mode: u=rw,g=r,o=r
    marker: "# {mark} ANSIBLE MANAGED BLOCK jupyter-history"
    block: |
      HISTFILESIZE=20000
      HISTSIZE=10000
      HISTTIMEFORMAT='%y-%m-%dT%T  '
  become: yes
  become_user: jupyter
  tags: jupyter

- name: ensure ~/o3 and ~/o3/notebooks ~/.jupyter dir exists
  file:
    path: '/home/jupyter/{{ item }}'
    state: directory
  become: yes
  become_user: jupyter
  with_items:
    - o3
    - o3/notebooks
    - .jupyter
  tags: jupyter

# TODO(mblomdahl): Change deployment path to ~/notebooks dir
- name: ensure sample notebook is copied to the server
  copy:
    src: o3/notebooks/gdp_per_country.ipynb
    dest: /home/jupyter/o3/notebooks/gdp_per_country.ipynb
  become: yes
  become_user: jupyter
  tags: jupyter

- name: ensure latest environment is present on the server
  copy:
    src: environment-linux.yml
    dest: /home/jupyter/o3/environment-linux.yml
  become: yes
  become_user: jupyter
  tags: jupyter

- name: ensure anaconda3 environment is set up
  include_role:
    name: anaconda3
  vars:
    anaconda3_user: jupyter
    anaconda3_environment_file: /home/jupyter/o3/environment-linux.yml
  tags: jupyter

- name: ensure jupyter config matches template
  template:
    src: jupyter_notebook_config.py.j2
    dest: /home/jupyter/.jupyter/jupyter_notebook_config.py
  become: yes
  become_user: jupyter
  notify:
    - restart jupyter
  tags: jupyter

- name: ensure jupyter service matches template
  template:
    src: jupyter.service.j2
    dest: /etc/systemd/system/jupyter.service
  register: add_jupyter_services
  notify:
    - restart jupyter
  tags: jupyter

- name: ensure jupyter service is running and auto-starting
  systemd:
    name: jupyter
    state: started
    enabled: true
    daemon_reload: '{{ true if add_jupyter_services is changed else false }}'
  tags: jupyter

...
